body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
  background-color: #282c34;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-btn {
  width: 36px;
  height: 36px;
}

.control-btn:hover {
  background-color: white;
  border-radius: 50%;
}

.control-btn:hover .svg-path {
  fill: #282c34;
}

.control-btn > svg {
  fill: transparent;
}

.control-btn .svg-path {
  fill: white;
}

.control-btn .svg-path:hover {
  fill: #282c34;
}

button {
  border: none;
  background-color: transparent;
  color: white;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.start-btn {
  align-self: center;
  border: 2px solid #282c34;
  border-radius: 4px;
  padding: 5px;
  margin: 20px 0;
  font-size: 14px;
  background-color: white;
  color: #282c34;
}
.start-btn:hover {
  background-color: #282c34;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #282c34;
  width: 310px;
  height: 538px;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 16px;
  margin-bottom: 20px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
  border: 1px solid darkslategrey;
  height: 100%;
  padding: 8px;
}
