.remembrance-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #282c34;
  width: 310px;
  height: 538px;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 16px;
  margin-bottom: 20px;
}

.remembrance-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
  border: 1px solid darkslategrey;
  height: 100%;
  padding: 8px;
}

.card-title {
  font-family: cursive;
  color: darkgoldenrod;
  margin: 2px;
  text-align: center;
}

.card-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
}

.remembrance-separator {
  height: 50px;
  display: block;
  margin: 0 auto;
}

.cross {
  align-self: center;
  width: 80px;
  height: 100px;
  margin: 10px 0 20px 0;
}

.blood {
  position: absolute;
  height: 20px;
  width: 30px;
  top: 223px;
  right: 163px;
}

.separator {
  height: 50px;
  display: block;
  margin: 0 auto;
  margin: -8px auto -15px auto;
}
